@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.containerBanner {
    background-image: url(/lhamaBackground.png);
    background-color: #00000080;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/lhamaBackground.png);
    background-color: #00000080;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loadingContainer img {
    width: 100px;
    height: 100px;
}

.textBanner {
    margin-top: 4%;
    color: #ffffff;
}

.textBanner img {
    width: 24%;
}

.containerContent {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2%;
}

.text {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    color: #000000;
    width: 40%;
    background-color: #ee82ee;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 4px 8px #00000033;
    transition: transform 0.6 s, box-shadow 0.2s;
    transition: .4s ease-in-out;
}

.text:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px #000000b3;
    transition: transform 0.3s, box-shadow 0.2s;
}

.text p {
    margin-top: 2%;
}

.imageText {
    width: 40%;
    height: 44vh;
    display: flex;
    justify-content: center;
}

.imageText img {
    width: 54.5%;
    border-radius: 15px;
    transition: transform 0.2s;
}

.imageText img:hover {
    transform: scale(1.08);
}

.infos {
    margin-top: 2%;
    background: linear-gradient(to right,
            #b9a9f1 0%,
            #b9a9f1 40%,
            #a5e3f8 60%,
            #a5e3f8 100%);
    padding: 2%;
    margin-bottom: 2rem;
}

.images h1,
.images h1,
.images h1 {
    font-size: 2rem;
    margin-left: 2.5%;
}

.locais,
.atracoes,
.estilos {
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
    font-family: 'Poppins', sans-serif;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

@media screen and (max-width: 768px) {
    .containerContent {
        flex-direction: column;
        align-items: center;
    }

    .text,
    .imageText {
        width: 90%;
        margin-bottom: 5%;
    }

    .cardsContainer {
        flex-direction: column;
        align-items: center;
    }

    .cardsContainer>* {
        margin-bottom: 20px;
        width: 90%;
    }

    .images h1 {
        text-align: center;
        margin-left: 0;
    }
}