.containerBanner {
    background-image: url(/bannerPraia.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/lhamaBackground.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loadingContainer img {
    width: 100px;
    height: 100px;
}

.textBanner {
    margin-top: 4%;
    color: white;
    margin-left: 6%;
}

.textBanner img {
    width: 24%;
}

.mainContent {
    margin: 5% 0 0 0;
}

.redSection {
    margin-bottom: 5%;
    padding: 2% 5%;
}

.greenSection, .greenSectionn {
    margin-bottom: 5%;
    padding: 2% 5%;
}

.greenSectionn {
    background-color: #D9A1FF;
    padding: 2% 5%;
}

.hashtags {
    padding: 2% 5%;
    background-color: #D9A1FF;
}

.hashtags h2 {
    margin-bottom: 1%;
}

.redSection h2 {
    color: red;
    margin-bottom: 1%;
}

.greenSection h2, .greenSectionn h2 {
    color: green;
    margin-bottom: 1%;
}