.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7d5691;
}

/* .subHeader */
/* .text */
/* .image */
/* .content */
/* .textContent */
/* .descript */
/* .teamContent */
/* .teamCards */
/* .textjoin */