.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.subHeader {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    background: #5D1B66;
    background: linear-gradient(180deg,#5d1b66 0%, #826099 100%);
    text-align: center;
    justify-content: center;
    justify-content: space-between
}

.text {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 3rem;
}

.imagecard {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.imageteam {
    width: 50%;
    height: 70%;
    border-radius: 10px;
}

.content {
    background-color: #7d5691;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textContent {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin: 2rem;
}

.description {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    width: 70%;
}

.teamContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.teamtitle {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.teamCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3rem;
}


.contentjoin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.titlejoin {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.descriptionjoin {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 1rem;
}

@media (max-width: 768px) {
    .teamCards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .teamCards {
        grid-template-columns: 1fr;
    }
}
