.container {
    width: 100%;
    height: 100%;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/lhamaBackground.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loadingContainer img {
    width: 100px;
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, #5d1b66 0%, #826099 100%);
}

.profileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    color: #ffffff;
}

.profileinfo h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.profileinfo p {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.profileinfo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
}