.container {
    width: 100%;
    height: 100%;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/images/lhamaBackground.png);
    background-color: #00000080;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loadingContainer img {
    width: 100px;
    height: 100px;
}

.container {
    background: linear-gradient(to right,
            #b9a9f1 0%,
            #b9a9f1 40%,
            #a5e3f8 60%,
            #a5e3f8 100%);
}

.containerPostagens {
    width: 70%;
    margin: 0 auto;
}

.containerPostagens h1 {
    margin-bottom: 5rem;
}

.postInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerProfile {
    width: 100%;
    margin: 5% 10%;
    display: flex;
}

.profileHeader  {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.arrowIcon a button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.arrowIcon a button .iconBack {
    font-size: 3rem;
    transition: all .3s ease;
}

.arrowIcon a button .iconBack:hover {
    color: rgb(97, 37, 153);
    scale: 0.9;
    transition: all .3s ease;
}

.profileHeader img {
    width: 10%;
    margin-left: 5%;
    border-radius: 50%;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileInfo p {
    width: 50%;
    text-align: justify;
}

@media (max-width: 1024px) {
    .profileInfo h1 {
        font-size: 2rem;
    }

    .profileInfo p {
        font-size: 1.4rem;
    }

    .profileInfo img {
        width: 12rem;
        height: 12rem;
    }

    .postsContent h2 {
        font-size: 2.5rem;
        margin: 2rem;
    }

    .backIcon a {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .profileInfo h1 {
        font-size: 1.8rem;
    }

    .profileInfo p {
        font-size: 1.2rem;
    }

    .profileInfo img {
        width: 10rem;
        height: 10rem;
    }

    .profileText h1 {
        font-size: 1.6rem;
    }

    .postsContent h2 {
        font-size: 2rem;
        margin: 2rem;
    }

    .backIcon {
        height: 5rem;
        padding: 1.5rem;
    }

    .backIcon a {
        font-size: 2rem;
    }

    .icon a {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 480px) {
    .profileInfo h1 {
        font-size: 1.5rem;
    }

    .profileInfo p {
        font-size: 1rem;
    }

    .profileInfo img {
        width: 8rem;
        height: 8rem;
    }

    .profileText h1 {
        font-size: 1.4rem;
    }

    .postsContent h2 {
        font-size: 1.6rem;
        margin: 1.5rem;
    }

    .backIcon {
        height: 4rem;
        padding: 1rem;
    }

    .backIcon a {
        font-size: 1.8rem;
    }

    .icon a {
        width: 2rem;
        height: 2rem;
    }
}
