.containerBanner {
    background-image: url(/lhamaBackground.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
}

.separation {
    margin: 0 0 5% 0;
    padding: 0;
    height: 20vh;
    background-color: #cc7aff;
    width: 100%;
}

.feed {
    display: flex;
}

@media screen and (max-width: 1579px) {
    .feed {
        
        display: block;
    }
}
