.container {
    background-color: #15002e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logo {
    width: 10%;
    transition: .3s ease-in-out;
}

.logo img {
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75rem;
    margin-bottom: 10%;
}