.containerBanner {
  background-image: url(/raveBanner.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.textBanner {
  margin-top: 4%;
  color: white;
  margin-left: 6%;
}

.textBanner img {
  width: 24%;
}

.mainContent {
  margin: 5% 0 0 5%;
}

.sectionRules {
  margin-left: 10%;
}

.redSection {
  margin-bottom: 5%;
}

.greenSection {
  margin-bottom: 5%;
}

.hashtags h2 {
  margin-bottom: 1%;
}

.redSection h2 {
  color: red;
  margin-bottom: 1%;
}

.greenSection h2 {
  color: green;
  margin-bottom: 1%;
}