.containerAtraction {
    display: flex;
    width: 17%;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #000000;
}

.containerAtraction img {
    margin-bottom: 15px;
    border: 6px solid #ffffff;
    border-radius: 50%;
}

.containerAtraction h3 {
    font-size: 1.3rem;
}