.containerAtraction {
    display: flex;
    width: 13%;
    padding: 10px 40px 35px 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.containerAtraction img {
    margin-bottom: 15px;
    border: 6px solid #ffffff;
    border-radius: 50%;
}

.containerAtraction h3 {
    font-size: 1.3rem;
}