.containerAtraction {
    display: flex;
    width: 15%;
    padding: 0 40px 100px 40px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.containerAtraction img {
    border-radius: 50%;
}

.containerAtraction h2 {
    font-size: 1.3rem;
}