@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.button button {
    background: #fff;
    border: none;
    outline: none;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 20rem;
    font-size: 1rem;
    height: 4vh;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: .6s ease-in-out;
    cursor: pointer;
}

.button button:hover {
    transition: .3s ease-in-out;
    background: #a5a5a5;
    border-radius: 20px;
    width: 15rem;
    color: white;
}