.card {
    width: 15%;
    height: 40vh;
    display: flex;
    border-radius: 47px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .7s;
    margin-top: 7.5%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    margin-bottom: 5%;
}

.card h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    color: black;
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card h3 {
    text-align: center;
    font-weight: bold;
}

.card p {
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
        height: auto;
        margin-top: 5%;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 17%;
        height: auto;
        margin-top: 5%;
    }
}