.separador {
    width: 100%;
    background-color: #D9A1FF;
    display: flex;
    justify-content: space-around;
    padding: 20px 10%;
    align-items: center;
}

.separador img {
    border: 8px solid rgb(177, 177, 177);
    width: 20%;
}

.separador p {
    width: 30%;
    text-align: justify;
}

