.containerFooter {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    height: 20vh;
    align-items: center;
    background-color: #a1a1a1;
    background: linear-gradient(90deg, #7a05c980 0%, #ffffff4d 100%);
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    font-weight: bold;
}

.infos {
    margin-top: 2%;
    background: linear-gradient(to right, 
    #b9a9f1 0%, 
    #b9a9f1 40%, 
    #a5e3f8 60%, 
    #a5e3f8 100%);
    padding: 2%;
}

.footerContent {
        margin: 0 2%; 
}