@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    height: 15vh;
    backdrop-filter: blur(10px);
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3rem;
    background-color: #671a9a;
    background: linear-gradient(90deg, #7a05c980 0%, #dc8efd4d 100%);
    justify-content: space-between;
    padding: 2rem;
}

.navbar h1 {
    margin: 0;
    font-size: 2.4rem;
    font-family: "Bebas Neue", sans-serif;
}

.page a {
    font-family: "Poppins", sans-serif;
}

.navbar h1 a,
.navbar p a {
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.navbar h1 a:hover {
    color: #ff3c78;
    transition: .3s ease-in-out;
}

.navbar p a:hover {
    color: #ff3c78;
    transition: .3s ease-in-out;
    border-bottom: 2px solid #ff3c78;
}

.logo {
    flex: 1;
    width: 30%;
}

.links {
    display: flex;
    gap: 5rem;
}

@media (max-width: 1024px) {
    .navbar {
        gap: 2rem;
        padding: 1.5rem 3rem;
    }

    .navbar h1 {
        font-size: 2rem;
    }

    .links {
        gap: 3rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: auto;
        padding: 2rem;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
    }

    .page {
        margin: 0;
    }

    .page a {
        display: block;
        width: auto;
    }

    .logo h1 {
        margin: 0;
    }
}