@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.infoContainer {
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.infoContainer h3{
    font-size: 3.5rem;
    color: #fff;
}

.infoContainer h1 {
    font-size: 7rem;
    color: #fff;
    display: flex;
}

.infoContainer p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

