.post {
    background-color: red;
    width: 70%;
    height: 70vh;
    margin: 6% auto;
    border-radius: 40px;
}

.post h3 {
    color: white;
    text-align: center;
    padding: 20px;
}

.post img {
    width: 100%;
    height: 80%;
}
