.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-radius: 8px;
    width: 80rem;
    height: 30rem;
    padding: 1.5rem;
}

.post img {
    width: auto;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.contentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    border-radius: 15px;
    object-fit: cover;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 70%;
    height: 100%;
    gap: 3rem;
}

.postTime {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 1rem;
    color: #c36cff;
    margin-bottom: 10px;
    gap: 4rem;
    font-size: 24px;
}

.postTime p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.postDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    font-size: 1.2rem;
    color: #000000;
}

.postButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    gap: 2rem;
    background-color: #c36cff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.postButton:hover {
    background-color: #ff3c78;
}