.post { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-radius: 8px;
    max-width: 80rem;
    padding: 1.5rem;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.contentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 30rem;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.postInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 7rem;
}

.postTime {
    display: flex;
    flex-wrap: wrap;
    color: #c36cff;
    font-size: 1.2rem;
    font-weight: bold;
}

.icon {
    margin-right: 0.5rem;
}

.postDescription {
    text-align: center;
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
}

.postButton {
    width: 100%;
    max-width: 30rem;
    padding: 1rem;
    background-color: #c36cff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.postButton:hover {
    background-color: #ff3c78;
}

@media (max-width: 768px) {
    .post {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .postTime {
        gap: 1rem;
        font-size: 1rem;
    }

    .postDescription {
        font-size: 0.9rem;
    }

    .postButton {
        font-size: 1rem;
    }
}
