.post { 
    display: flex;
    background-color: #e92121;
    margin-bottom: 7rem;
    padding: 3% 1%;
    border-radius: 15px;
}

.contentImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 30rem;
}

.post img {
    width: 80%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 7rem;
}

.postTime {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.icon {
    margin-right: 0.5rem;
    color: #7f27b9;
}

.postDescription {
    text-align: center;
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
    width: 90%;
    text-align: justify;
}

.postButton {
    width: 50%;
    max-width: 30rem;
    padding: .6rem;
    background-color: #7f27b9;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.postButton:hover {
    background-color: #ff3c78;
}

@media (max-width: 1024px) {
    .post {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        width: 90%;
    }

    .postInfo {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .postButton {
        width: 80%;
        max-width: none;
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .post {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .postTime {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 5rem;
        gap: 1rem;
        font-size: 1rem;
    }

    .postInfo {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .postDescription {
        font-size: 0.9rem;
    }

    .postButton {
        font-size: 1rem;
    }
}
